@charset "utf-8";

/*------------------------------------------------------------------
  [Table of contents]
  * To keep an overview of structure of your code, we make use of table of 
  * content. Table of content is use display the overall tree structure of your
  * Layout. 
  * (NOTE: Remove this commented code once you start developing the code.
  * Remove the following table of content and add your own as this is just and 
  * example to let you know)

  1. CSS Reset Code
    1.1. Eric Meyers Reset/HTML5 display-role reset for older browsers
    1.2. Clear Fix
    1.3. Font class declaration
  2. Body
  3. Header / .header
    2.1. Navigation / .navbar
  4. Content / .content
    4.1. Left column / .leftcolumn
    4.2. Right column / .rightcolumn
    4.3. Sidebar / .sidebar
      4.3.1. RSS / .rss
      4.3.2. Search / .search
      4.3.3. Boxes / .box
      4.3.4. Sideblog / .sideblog
      4.3.5. Advertisements / .ads
  5. Footer / .footer
  ------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Color codes]
  * Mention the color code you have used in your html document for the respective
  * elements given as follow. 
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following color code and add your own as this is just and 
  * example to let you know)

  Header nav: #e5e5df (Cararra)
  Header nav a (hover): #fff (white)
  Header nav a (active): #fff (white)
-------------------------------------------------------------------*/

/*------------------------------------------------------------------
  [Typography]
  * Mention the Typography you have used in your html document for the respective
  * elements given as follow.
  * (NOTE: Remove this commented code once you start developing the code. 
  * Remove the following typography and add your own as this is just and 
  * example to let you know)

  Header nav a: 16px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  View-register li a : 12px 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  -------------------------------------------------------------------*/

/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */
   *{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }

sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================================================================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }

.cf { *zoom: 1; }

/* 1.3. Font class declaration
   ========================================================================== */
/*
 * Mention the font property (eg: font-family, font-size, font-weight, font-style
 * etc) that have been commonly used in the html document. Make a class of it and
 * apply to the element wherever it is needed. If any single property in changed,
 * then override only that property in the particular class which is used for the
 * element.
 * (NOTE: Remove this commented code once you start 
 * developing the code. Remove the following font class and add your own
 * as this is just and example to let you know. If there is only one font family
 * followed throughout the site, then menstion the font property in body. No need
 * of creating an extra class for it) */

.futura-bold-font {
  font-family: 'Futura Bold', 'Gill Sans', Arial, 'Helvetica Neue', Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
}

/* css starts */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

.wrapper{
  width:100%;
  margin:25px auto;
  max-width: 1056px;

}

ul{list-style: none;}

a{text-decoration: none;}

.uppercase{text-transform: uppercase;}

ul{list-style: none;}

a{text-decoration: none;}

.uppercase{text-transform: uppercase;}

header {
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100px;
    background:rgba(0,0,0,0.6);
    z-index: 1;
  }
  

header nav{position: relative;}

header nav::before{
    content: '';
    position: absolute;
    background: url(../images/home-icon.png) no-repeat;
    width: 50px;
    height: 50px;
    left:-20px;
    }

header ul li {
display: inline-block;
border-right: 1px solid #fff;
}
  
header > .wrapper li:last-child{border-right: 0px;}
  
  
  header li a {
    display: block;
    font-size: 16px;
    color: #fff;
    margin-right: 10px;
    transition: all 0.3s ease-in-out;
  }

  header li a:hover{color:#A72475;} 
  

  
  header .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper{
      margin:25px auto;
      width:90%;
      max-width: 1056px;;
  }

  .menu-btn{
      color:#fff;
      display: none; 
      font-size: 40px;
  }

  .banner{
    position: relative;
    width: 100%;
  }
  
  .banner .wrapper figure{width:100%;}
  
  .banner ul .active{display: block;}
  
  .banner ul li img{width:100%;}
  
  .banner ul li{display: none;}
  
  .banner::before{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f053";
    position: absolute;
    top: 50%;
    left: 5%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 30px;
  }
  
  .banner::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    content: "\f054";
    position: absolute;
    right: 5%;
    top: 50%;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    font-size: 30px;
  }
  .blogs .wrapper{
    display: flex;
    flex-wrap: wrap;
    padding:20px;
  }
  
  .blogs .container {
    position: relative;
    margin: 10px;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    cursor: pointer;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    cursor: pointer;
   
  }
  
  .blogs .container:hover .image { opacity: 0.3;}
  
  .blogs .container:hover .middle {opacity:1;}

  .blogs span{
    color:#A72475;
    font-size: 25px;
}
footer{
    background: #111;
    padding:10px;
    margin:0;
    color:#fff
}
  footer  .wrapper ul {
   display: inline-block;
    margin-left: 25%;
    padding:3px;
  }
  footer ul{
      position: relative;
  }
  footer ul::before{
    content: '';
    position: absolute;
    background: url(../images/home-icon.png) no-repeat;
    width: 50px;
    height: 50px;
    left:-20px;
    }

  footer .wrapper ul li{
   display: inline-block;
   border-right: 1px solid #fff;
  }

  footer > .wrapper li a{
    color:#fff;
    margin-right: 10px;
  }
  
  footer > .wrapper li a:hover{
    color:#E30491;
    margin-right: 10px;
  }

  footer > .wrapper li:last-child{border-right: 0px;}



/* hamburger starts here */

.hamburger {
  border: 0;
  padding: 0;
  background-color: transparent;
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 30px;
  cursor: pointer;
  display: none;
    
}
.hamburger span {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #000;
  transition: all 0.3s ease;
  opacity: 1;
}
.hamburger span:nth-of-type(1) {
  top: 6px;
    
}
.hamburger span:nth-of-type(2) {
  top: 12px;
}
.hamburger span:nth-of-type(3) {
  top: 18px;
}
.hamburger:hover span:nth-of-type(1), .hamburger:hover span:nth-of-type(3) {
  top: 12px;
  background-color:#E30491;;
}
.hamburger:hover span:nth-of-type(1) {
  transform: rotate(45deg);
}
.hamburger:hover span:nth-of-type(2) {
  opacity: 0;
}
.hamburger:hover span:nth-of-type(3) {
  transform: rotate(-45deg);
}

/* hamburger ends here */



  @media (max-width: 991px) {
  
    
    .hamburger{display: block;}
  
    
      
     header nav {
      position: absolute;
      background-color: #111;
      height: 100vh;
      width: 100%;
      top: 70px;
      left: -100%;
      right:0;
      text-align: center;
      padding-top: 150px;
      transition: all 0.3s ease-in-out;
    }
  
    header nav {
      left: 0;
    } 
  

    header nav li {
      display: block;
      margin-bottom: 50px;
    }
  
    header nav li a {
      font-size: 2rem;
      transition: all 0.3s ease-in-out;
      color: #fff;
    }
  }
    /* hamburger ends */

    @media(max-width:767px){
        .blogs .wrapper{
          margin:0;
          padding:0;
        }
        .blogs figure img{
          width:100%;
          padding:0 10px;
        }
      
        footer .wrapper ul{
          display: none;
        }
        footer span{
         display: inline-block;
         width: 100%;
         font-size: 15px;
         text-align: center;
         
        }
        .blogs figure:last-of-type{
          display: none;
        }
      }
    